rootCategory=DEBUG, rootAppender

category.sub1=INFO, A1
additivity.sub1=false

# 定义rootAppender类型和layout属性，这里使用了BasicLayout
appender.rootAppender=org.apache.log4cpp.ConsoleAppender
appender.rootAppender.layout=org.apache.log4cpp.BasicLayout


#定义A3的属性
appender.A1=org.apache.log4cpp.RollingFileAppender
appender.A1.fileName=./log/A1.log
appender.A1.maxFileSize=20971520
appender.A1.maxBackupIndex=30
appender.A1.backupPattern=%Y-%m-%d
appender.A1.layout=org.apache.log4cpp.PatternLayout
appender.A1.layout.ConversionPattern=%d{%Y-%m-%d %H:%M:%S} [%p]: [%c] %m%n
